html {
  font-family: "Open Sans", sans-serif; }
  html * {
    margin: 0;
    padding: 0; }

.app {
  display: flex;
  flex-direction: row; }

.main {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  order: 2; }

.desktop {
  display: none; }

.software-subscriptions {
  width: 100%;
  margin: 10px;
  order: 3; }

.menu-bar {
  display: none;
  order: 1;
  position: fixed; }

.card-list {
  display: none;
  order: 2; }

.green-font {
  color: #284e3f; }

.black-font {
  color: #000000; }

.bold {
  font-weight: 700; }

img.circle {
  border-radius: 50%; }

.pad-y-10 {
  padding: 10px 0; }

span.note {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  background-color: #f8faf7;
  margin: 0 10px;
  font-weight: normal; }

span.manage {
  display: none; }

.header {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .header__menu {
    transform: translate(-2px, 3px); }
  .header__title {
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    width: 80%; }
  .header__options {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    text-align: center;
    border: 1px solid #000000;
    cursor: pointer; }
    .header__options:hover {
      transition: 0.5s;
      background-color: #99999970; }

.section {
  padding: 15px 0;
  border-bottom: 1px solid #99999970; }
  .section__subtitle {
    font-size: 0.8em;
    color: #868686; }
  .section__title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px; }
  .section__columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .section__columns .desktop {
      display: none; }
  .section__columns-element {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center; }
    .section__columns-element * {
      padding: 5px; }
  .section--border-none {
    border: 0; }
  .section--text-left {
    text-align: left; }
  .section--text-right {
    text-align: right; }
  .section--flex-right {
    justify-content: flex-end; }

.card-info {
  font-size: 16px; }
  .card-info__content {
    line-height: 50px; }
    .card-info__content__icon {
      padding: 0 5px;
      transform: translate(-2px, 3px); }

.spending-limits progress {
  margin: 10px 0;
  height: 10px;
  width: 100%;
  border-radius: 0; }

.spending-limits progress::-webkit-progress-value {
  background: #0a150f; }

.spending-limits progress::-webkit-progress-bar {
  background: #99999970; }

.spending-limits .estimated-amount {
  padding: 15px;
  margin: 15px 0;
  background: #f8faf7; }

@media (min-width: 768px) and (max-width: 1024px) {
  .app .main {
    width: calc(100% - 150px); }
  .app .menu-bar {
    min-height: 100vh;
    order: 1;
    width: 150px;
    background-color: #0a150f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .app .menu-bar .icon-menu {
      margin: 10px 0;
      padding: 10px 20px; }
      .app .menu-bar .icon-menu__active {
        background-color: #97f675; }
    .app .menu-bar .icon-menu:hover {
      background-color: #97f675; }
    .app .menu-bar__menu-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px; }
      .app .menu-bar__menu-up .logo {
        padding: 15px 0; }
    .app .menu-bar__menu-down {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .app .menu-bar__menu-down .menu {
        padding-bottom: 10px;
        border-bottom: 1px solid #99999970; }
      .app .menu-bar__menu-down .profile {
        padding: 30px 0; }
        .app .menu-bar__menu-down .profile__description {
          display: none; }
        .app .menu-bar__menu-down .profile img {
          border-radius: 50%; }
  .app .software-subscriptions {
    padding-top: 30px; }
  .app .header__menu {
    display: none;
    width: 40px; }
  .app .header__title {
    width: auto;
    font-size: 26px; }
  .app .header__square {
    width: 40px;
    height: 34px;
    background-color: #97f675;
    position: relative; }
    .app .header__square .sm-square {
      width: 15px;
      height: 12px;
      background-color: #0a150f;
      z-index: 1;
      position: absolute;
      top: 17px;
      left: 20px;
      transform: translate(-50%, -50%); }
  .app .header__options {
    padding: 5px 10px; }
  .app .section--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .app .section .recent-transactions .section__columns-element,
  .app .section .issued-access .section__columns-element {
    width: 33%; }
  .app .section__columns__element {
    width: 100%; }
  .app span.manage {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px; }
  .app .card-info {
    margin-top: 30px; }
    .app .card-info:nth-of-type(1) {
      width: 45%;
      margin-right: 3%; }
    .app .card-info:nth-of-type(2) {
      width: 25%;
      margin-right: 3%; }
    .app .card-info:nth-of-type(3) {
      width: 30%; }
    .app .card-info:nth-of-type(4) {
      display: none; }
    .app .card-info--border-right {
      border-right: 1px solid #99999970; }
  .app .transaction-container .transaction-limit {
    width: 60%; }
  .app .transaction-container .estimated-amount {
    width: 30%; }
    .app .transaction-container .estimated-amount .estimated-tablet {
      flex-direction: column; } }

@media (min-width: 1025px) {
  .app .desktop {
    display: block; }
  .app .main {
    width: calc(100% - 250px); }
  .app .card-list {
    background-color: #f8faf7;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 1px solid #99999970; }
    .app .card-list .header {
      justify-content: space-between;
      margin: 0 30px;
      padding: 40px 0;
      width: calc(100% - 60px); }
    .app .card-list .card-tab {
      padding: 15px 0 15px 30px;
      border-bottom: 1px solid #99999970;
      position: relative; }
      .app .card-list .card-tab--active {
        background-color: #1f332b;
        color: #ffffff; }
      .app .card-list .card-tab--disable {
        margin-top: 20px;
        padding-bottom: 46px;
        border-top: 1px solid #99999970;
        color: #666e69; }
      .app .card-list .card-tab--border-top {
        border-top: 1px solid #99999970; }
      .app .card-list .card-tab__title {
        font-size: 20px;
        font-weight: 600;
        padding: 4px 0; }
      .app .card-list .card-tab__status {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1em;
        padding: 4px 0; }
        .app .card-list .card-tab__status .dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #000000;
          border: 1px solid #000000;
          margin-right: 7px; }
          .app .card-list .card-tab__status .dot--active {
            background-color: #ffffff;
            border: 2px solid #ffffff; }
          .app .card-list .card-tab__status .dot--disable {
            background-color: #c8ccc9;
            border: 2px solid #c8ccc9; }
      .app .card-list .card-tab__access {
        font-size: 16px;
        padding: 4px 0;
        color: #868686; }
        .app .card-list .card-tab__access span.note {
          font-size: 16px;
          font-weight: 600;
          color: #000000; }
          .app .card-list .card-tab__access span.note--active {
            background-color: #2f433b;
            color: #ffffff; }
          .app .card-list .card-tab__access span.note--disable {
            color: #666e69; }
      .app .card-list .card-tab__card-pic {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 65%;
        background: #ffffff;
        border: solid #99999970;
        border-width: 1px 0 0 1px;
        border-radius: 10px 0 0 0; }
        .app .card-list .card-tab__card-pic--active {
          width: 28%;
          border: double transparent;
          border-width: 2px 0 0 2px;
          background-image: linear-gradient(128deg, #2a473b 0%, #3f5d51 50%, #2a473b 100%), linear-gradient(40deg, #36594a 20%, #9eafa8 50%, #3e5d4e 80%);
          background-origin: border-box;
          background-clip: content-box, border-box; }
        .app .card-list .card-tab__card-pic .strip {
          position: absolute;
          top: 15px;
          width: 100%;
          height: 20px;
          background-color: #f8faf7; }
          .app .card-list .card-tab__card-pic .strip--active {
            background-color: #5c756a; }
      .app .card-list .card-tab__card-number {
        position: absolute;
        top: 40px;
        width: 100%;
        height: 50%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .app .card-list .card-tab__card-number .master-card {
          margin-left: 5px;
          display: inline-block;
          width: 30px;
          height: 15px;
          position: relative; }
          .app .card-list .card-tab__card-number .master-card .circle {
            position: absolute;
            top: 1px;
            bottom: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #ffffff; }
            .app .card-list .card-tab__card-number .master-card .circle--second {
              left: 10px; }
  .app .menu-bar {
    min-height: 100vh;
    height: 650px;
    order: 1;
    width: 250px;
    background-color: #0a150f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white; }
    .app .menu-bar .desktop {
      margin-left: 15px; }
    .app .menu-bar .icon-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 140px;
      margin: 10px 0;
      padding: 10px 20px; }
      .app .menu-bar .icon-menu #home {
        width: 25px;
        height: 25px;
        background-image: url("/icon/home.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #accounts {
        width: 25px;
        height: 25px;
        background-image: url("/icon/layers.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #cards {
        width: 25px;
        height: 25px;
        background-image: url("/icon/credit-card.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #payments {
        width: 25px;
        height: 25px;
        background-image: url("/icon/triangle.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #team {
        width: 25px;
        height: 25px;
        background-image: url("/icon/star.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #settings {
        width: 25px;
        height: 25px;
        background-image: url("/icon/octagon.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #help {
        width: 25px;
        height: 25px;
        background-image: url("/icon/message-square.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu #log-out {
        width: 25px;
        height: 25px;
        background-image: url("/icon/log-out.svg");
        background-repeat: no-repeat; }
      .app .menu-bar .icon-menu__active {
        background-color: #97f675; }
        .app .menu-bar .icon-menu__active .desktop {
          color: #1f332b; }
      .app .menu-bar .icon-menu:hover {
        transition: 0.5s;
        background-color: #97f675;
        color: black; }
        .app .menu-bar .icon-menu:hover #home {
          width: 25px;
          height: 25px;
          background-image: url("/icon/home-h.svg");
          background-repeat: no-repeat; }
        .app .menu-bar .icon-menu:hover #accounts {
          width: 25px;
          height: 25px;
          background-image: url("/icon/layers-h.svg");
          background-repeat: no-repeat; }
        .app .menu-bar .icon-menu:hover #payments {
          width: 25px;
          height: 25px;
          background-image: url("/icon/triangle-h.svg");
          background-repeat: no-repeat; }
        .app .menu-bar .icon-menu:hover #team {
          width: 25px;
          height: 25px;
          background-image: url("/icon/star-h.svg");
          background-repeat: no-repeat; }
        .app .menu-bar .icon-menu:hover #settings {
          width: 25px;
          height: 25px;
          background-image: url("/icon/octagon-h.svg");
          background-repeat: no-repeat; }
        .app .menu-bar .icon-menu:hover #help {
          width: 25px;
          height: 25px;
          background-image: url("/icon/message-square-h.svg");
          background-repeat: no-repeat; }
        .app .menu-bar .icon-menu:hover #log-out {
          width: 25px;
          height: 25px;
          background-image: url("/icon/log-out-h.svg");
          background-repeat: no-repeat; }
    .app .menu-bar__menu-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px; }
      .app .menu-bar__menu-up .logo {
        width: 150px;
        padding: 15px 0;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center; }
    .app .menu-bar__menu-down {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #b5b9b7; }
      .app .menu-bar__menu-down .menu {
        padding-bottom: 10px;
        border-bottom: 1px solid #99999970; }
      .app .menu-bar__menu-down .profile {
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .app .menu-bar__menu-down .profile img {
          border-radius: 50%; }
        .app .menu-bar__menu-down .profile__description {
          width: 100px;
          height: 100%;
          color: #ffffff;
          margin-left: 10px; }
          .app .menu-bar__menu-down .profile__description .name {
            font-size: 13px;
            line-height: 25px; }
          .app .menu-bar__menu-down .profile__description .e-mail {
            font-size: 10px;
            color: #868686;
            line-height: 25px; }
  .app .software-subscriptions {
    padding: 30px 10px;
    width: 60%; }
  .app .header__icon * {
    margin: 0 10px; }
  .app .header__menu {
    display: none;
    width: 40px; }
  .app .header__title {
    font-size: 22px;
    width: auto; }
  .app .header__square {
    width: 40px;
    height: 34px;
    background-color: #97f675;
    position: relative; }
    .app .header__square .sm-square {
      width: 15px;
      height: 12px;
      background-color: #0a150f;
      z-index: 1;
      position: absolute;
      top: 17px;
      left: 20px;
      transform: translate(-50%, -50%); }
  .app .header__options {
    padding: 5px 10px; }
  .app .section--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .app span.manage {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px; }
  .app .card-info {
    margin-top: 30px; }
    .app .card-info:nth-of-type(1) {
      width: 40%;
      margin-right: auto; }
    .app .card-info:nth-of-type(2) {
      width: 20%;
      margin: 30px auto 0 auto; }
    .app .card-info:nth-of-type(3) {
      width: 15%;
      margin: 30px auto 0 auto; }
    .app .card-info:nth-of-type(4) {
      width: 15%;
      padding-left: 3%; }
    .app .card-info--border-right {
      border-right: 1px solid #99999970; }
    .app .card-info--border-left {
      border-left: 1px solid #99999970; }
  .app .transaction-container .transaction-limit {
    width: 60%; }
  .app .transaction-container .estimated-amount {
    width: 30%;
    position: relative;
    overflow: hidden; }
    .app .transaction-container .estimated-amount .estimated-tablet {
      flex-direction: column;
      position: relative;
      z-index: 2;
      width: 65%;
      left: 0; }
      .app .transaction-container .estimated-amount .estimated-tablet * {
        text-align: left;
        width: 80%; }
    .app .transaction-container .estimated-amount .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: #eef1ed;
      border-radius: 50%;
      position: absolute;
      bottom: -35px;
      right: -35px;
      z-index: 1; } }

@media (min-width: 1200px) {
  .app .header__title {
    font-size: 28px; }
  .app .card-list .card-tab__card-pic {
    height: 80%; } }
