html {
  font-family: "Open Sans", sans-serif; }
  html * {
    margin: 0;
    padding: 0; }

.app {
  display: flex;
  flex-direction: row; }

.software-subscriptions {
  width: 100%;
  margin: 10px;
  order: 3; }

.menu-bar {
  display: none;
  order: 1; }

.green-font {
  color: #0a150f; }

.bold {
  font-weight: 700; }

img.circle {
  border-radius: 50%; }

.pad-y-10 {
  padding: 10px 0; }

span.note {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  background-color: #f8faf7;
  margin: 0 10px;
  font-weight: normal; }

span.manage {
  display: none; }

.header {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .header__menu {
    transform: translate(-2px, 3px); }
  .header__title {
    font-weight: 700;
    font-size: 19px;
    width: 100%;
    text-align: center; }
  .header__options {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    text-align: center;
    border: 1px solid #000000; }

.section {
  padding: 15px 0;
  border-bottom: 1px solid gray; }
  .section__subtitle {
    font-size: 0.8em;
    color: #868686; }
  .section__title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px; }
  .section__double-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .section__double-columns__element {
      display: flex;
      width: 50%;
      align-items: center; }
      .section__double-columns__element * {
        padding: 5px; }
  .section--border-none {
    border: 0; }
  .section--text-left {
    text-align: left; }
  .section--text-right {
    text-align: right; }
  .section--flex-right {
    justify-content: flex-end; }

.card-info {
  font-size: 16px; }
  .card-info__content {
    padding-bottom: 15px; }
    .card-info__content__icon {
      padding: 0 5px;
      transform: translate(-2px, 3px); }

.spending-limits progress {
  margin: 10px 0;
  height: 10px;
  width: 100%;
  border-radius: 0; }

.spending-limits progress::-webkit-progress-value {
  background: #0a150f; }

.spending-limits progress::-webkit-progress-bar {
  background: #99999970; }

.spending-limits .estimated-amount {
  padding: 15px;
  margin: 15px 0;
  background: #f8faf7; }

@media (min-width: 768px) and (max-width: 1024px) {
  .app .menu-bar {
    padding-top: 30px;
    order: 1;
    width: 150px;
    background-color: #0a150f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .app .menu-bar .icon-menu {
      margin: 10px 0;
      padding: 10px 20px; }
    .app .menu-bar .icon-menu:hover {
      background-color: #97f675; }
    .app .menu-bar__menu-up {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .app .menu-bar__menu-up .logo {
        padding: 15px 0; }
    .app .menu-bar__menu-down {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .app .menu-bar__menu-down .menu {
        padding-bottom: 10px;
        border-bottom: 1px solid #99999970; }
      .app .menu-bar__menu-down .profile {
        padding: 30px 0; }
        .app .menu-bar__menu-down .profile img {
          border-radius: 50%; }
  .app .software-subscriptions {
    padding-top: 30px; }
  .app .header__menu {
    display: none; }
  .app .header__square {
    width: 40px;
    height: 34px;
    background-color: #97f675;
    position: relative; }
    .app .header__square .sm-square {
      width: 15px;
      height: 12px;
      background-color: #0a150f;
      z-index: 1;
      position: absolute;
      top: 17px;
      left: 20px;
      transform: translate(-50%, -50%); }
  .app .header__title {
    font-size: 24px; }
  .app .header__options {
    padding: 5px 10px; }
  .app .section--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .app span.manage {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px; }
  .app .card-info {
    margin-top: 30px; }
    .app .card-info:nth-of-type(1) {
      width: 45%;
      margin-right: 3%; }
    .app .card-info:nth-of-type(2) {
      width: 20%;
      margin-right: 3%; }
    .app .card-info:nth-of-type(3) {
      width: 35%; }
    .app .card-info--border-right {
      border-right: 1px solid #99999970; }
  .app .transaction-container .transaction-limit {
    width: 60%; }
  .app .transaction-container .estimated-amount {
    width: 30%; }
    .app .transaction-container .estimated-amount .estimated-tablet {
      flex-direction: column; } }
