$black: #000000;
$ltgray-text: #868686;
$ltgray-line: #99999970;
$green: #0a150f;
$ltgreen: #97f675;
$bg-ltgreen: #f8faf7;

html {
  font-family: "Open Sans", sans-serif;

  * {
    margin: 0;
    padding: 0;
  }
}

.app {
  display: flex;
  flex-direction: row;
}

.software-subscriptions {
  width: 100%;
  margin: 10px;
  order: 3;
}

.menu-bar {
  display: none;
  order: 1;
}

.green-font {
  color: $green;
}

.bold {
  font-weight: 700;
}

img.circle {
  border-radius: 50%;
}

.pad-y-10 {
  padding: 10px 0;
}

span.note {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  background-color: $bg-ltgreen;
  margin: 0 10px;
  font-weight: normal;
}

span.manage {
  display: none;
}

.header {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__menu {
    transform: translate(-2px, 3px);
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    width: 100%;
    text-align: center;
  }

  &__options {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    text-align: center;
    border: 1px solid $black;
  }
}

.section {
  padding: 15px 0;
  border-bottom: 1px solid gray;

  &__subtitle {
    font-size: 0.8em;
    color: $ltgray-text;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
  }

  &__double-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__element {
      display: flex;
      width: 50%;
      align-items: center;

      * {
        padding: 5px;
      }
    }
  }

  &--border-none {
    border: 0;
  }

  &--text-left {
    text-align: left;
  }

  &--text-right {
    text-align: right;
  }

  &--flex-right {
    justify-content: flex-end;
  }
}

.card-info {
  font-size: 16px;

  &__content {
    padding-bottom: 15px;

    &__icon {
      padding: 0 5px;
      transform: translate(-2px, 3px);
    }
  }
}

.spending-limits {
  progress {
    margin: 10px 0;
    height: 10px;
    width: 100%;
    border-radius: 0;
  }

  progress::-webkit-progress-value {
    background: $green;
  }

  progress::-webkit-progress-bar {
    background: $ltgray-line;
  }

  .estimated-amount {
    padding: 15px;
    margin: 15px 0;
    background: $bg-ltgreen;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    .menu-bar {
      padding-top: 30px;
      order: 1;
      width: 150px;
      background-color: $green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .icon-menu {
        margin: 10px 0;
        padding: 10px 20px;
      }

      .icon-menu:hover {
        background-color: $ltgreen;
      }

      &__menu-up {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
          padding: 15px 0;
        }
      }

      &__menu-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu {
          padding-bottom: 10px;
          border-bottom: 1px solid $ltgray-line;
        }

        .profile {
          padding: 30px 0;
          img {
            border-radius: 50%;
          }
        }
      }
    }

    .software-subscriptions {
      padding-top: 30px;
    }

    .header {
      &__menu {
        display: none;
      }

      &__square {
        width: 40px;
        height: 34px;
        background-color: $ltgreen;
        position: relative;
        .sm-square {
          width: 15px;
          height: 12px;
          background-color: $green;
          z-index: 1;
          position: absolute;
          top: 17px;
          left: 20px;
          transform: translate(-50%, -50%);
        }
      }

      &__title {
        font-size: 24px;
      }

      &__options {
        padding: 5px 10px;
      }
    }

    .section {
      &--flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    span.manage {
      display: inline-block;
      font-size: 15px;
      margin-right: 10px;
    }

    .card-info {
      margin-top: 30px;
      &:nth-of-type(1) {
        width: 45%;
        margin-right: 3%;
      }
      &:nth-of-type(2) {
        width: 20%;
        margin-right: 3%;
      }
      &:nth-of-type(3) {
        width: 35%;
      }

      &--border-right {
        border-right: 1px solid $ltgray-line;
      }
    }

    .transaction-container {
      .transaction-limit {
        width: 60%;
      }

      .estimated-amount {
        width: 30%;
        .estimated-tablet {
          flex-direction: column;
        }
      }
    }
  }
}
