$black: #000000;

$ltgray-text: #868686;
$ltgray-line: #99999970;
$gray-text: #b5b9b7;

$green: #0a150f;
$ltgreen: #97f675;
$bg-ltgreen: #f8faf7;
$green-font: #284e3f;

$white: #ffffff;

$card-list-bg: #f8faf7;
$card-active-bg: #1f332b;

$strip-acive: #5c756a;
$note-active: #2f433b;
$card-active: linear-gradient(
  128deg,
  rgba(42, 71, 59, 1) 0%,
  rgba(63, 93, 81, 1) 50%,
  rgba(42, 71, 59, 1) 100%
);

$arrow-circle: #eef1ed;

$disable-text: #00000060;

html {
  font-family: "Open Sans", sans-serif;

  * {
    margin: 0;
    padding: 0;
  }
}

.app {
  display: flex;
  flex-direction: row;
}

.desktop {
  display: none;
}

.software-subscriptions {
  width: 100%;
  margin: 10px;
  order: 3;
}

.menu-bar {
  display: none;
  order: 1;
}

.card-list {
  display: none;
  order: 2;
}

.green-font {
  color: $green-font;
}

.bold {
  font-weight: 700;
}

img.circle {
  border-radius: 50%;
}

.pad-y-10 {
  padding: 10px 0;
}

span.note {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  background-color: $bg-ltgreen;
  margin: 0 10px;
  font-weight: normal;
}

span.manage {
  display: none;
}

.header {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__menu {
    transform: translate(-2px, 3px);
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    width: 80%;
  }

  &__options {
    display: flex;
    align-items: center;
    padding: 3px 7px;
    text-align: center;
    border: 1px solid $black;
  }
}

.section {
  padding: 15px 0;
  border-bottom: 1px solid $ltgray-line;

  &__subtitle {
    font-size: 0.8em;
    color: $ltgray-text;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
  }

  &__double-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__element {
      display: flex;
      width: 50%;
      align-items: center;

      * {
        padding: 5px;
      }
    }
  }

  &--border-none {
    border: 0;
  }

  &--text-left {
    text-align: left;
  }

  &--text-right {
    text-align: right;
  }

  &--flex-right {
    justify-content: flex-end;
  }
}

.card-info {
  font-size: 16px;

  &__content {
    line-height: 50px;

    &__icon {
      padding: 0 5px;
      transform: translate(-2px, 3px);
    }
  }
}

.spending-limits {
  progress {
    margin: 10px 0;
    height: 10px;
    width: 100%;
    border-radius: 0;
  }

  progress::-webkit-progress-value {
    background: $green;
  }

  progress::-webkit-progress-bar {
    background: $ltgray-line;
  }

  .estimated-amount {
    padding: 15px;
    margin: 15px 0;
    background: $bg-ltgreen;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    .menu-bar {
      min-height: 100vh;
      padding-top: 30px;
      order: 1;
      width: 150px;
      background-color: $green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .icon-menu {
        margin: 10px 0;
        padding: 10px 20px;

        &__active {
          background-color: $ltgreen;
        }
      }

      .icon-menu:hover {
        background-color: $ltgreen;
      }

      &__menu-up {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
          padding: 15px 0;
        }
      }

      &__menu-down {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu {
          padding-bottom: 10px;
          border-bottom: 1px solid $ltgray-line;
        }

        .profile {
          padding: 30px 0;

          &__description {
            display: none;
          }

          img {
            border-radius: 50%;
          }
        }
      }
    }

    .software-subscriptions {
      padding-top: 30px;
    }

    .header {
      &__menu {
        display: none;
        width: 40px;
      }
      &__title {
        width: auto;
      }

      &__square {
        width: 40px;
        height: 34px;
        background-color: $ltgreen;
        position: relative;
        .sm-square {
          width: 15px;
          height: 12px;
          background-color: $green;
          z-index: 1;
          position: absolute;
          top: 17px;
          left: 20px;
          transform: translate(-50%, -50%);
        }
      }

      &__title {
        font-size: 24px;
      }

      &__options {
        padding: 5px 10px;
      }
    }

    .section {
      &--flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &__double-columns {
        &__element {
          width: 100%;
        }
      }
    }

    span.manage {
      display: inline-block;
      font-size: 15px;
      margin-right: 10px;
    }

    .card-info {
      margin-top: 30px;

      &:nth-of-type(1) {
        width: 45%;
        margin-right: 3%;
      }

      &:nth-of-type(2) {
        width: 25%;
        margin-right: 3%;
      }

      &:nth-of-type(3) {
        width: 30%;
      }

      &:nth-of-type(4) {
        display: none;
      }

      &--border-right {
        border-right: 1px solid $ltgray-line;
      }
    }

    .transaction-container {
      .transaction-limit {
        width: 60%;
      }

      .estimated-amount {
        width: 30%;
        .estimated-tablet {
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .desktop {
    display: block;
    color: $white;
  }

  .app {
    .card-list {
      background-color: $card-list-bg;
      display: flex;
      flex-direction: column;
      width: 30%;
      border-right: 1px solid $ltgray-line;

      .header {
        justify-content: space-around;
        padding: 40px 0;
        border-bottom: 1px solid $ltgray-line;
      }

      .card-tab {
        padding: 15px 0 15px 30px;
        border-bottom: 1px solid $ltgray-line;
        position: relative;

        &--active {
          background-color: $card-active-bg;
          color: $white;
        }

        &--disable {
          margin-top: 20px;
          border-top: 1px solid $ltgray-line;
          color: $disable-text;
        }

        &__title {
          font-size: 16px;
          font-weight: 600;
          padding: 4px 0;
        }

        &__status {
          display: flex;
          align-items: center;
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.1em;
          padding: 4px 0;

          .dot {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $black;
            border: 1px solid $black;
            margin-right: 7px;

            &--active {
              background-color: $white;
              border: 1px solid $white;
            }

            &--disable {
              background-color: $disable-text;
              border: 1px solid $disable-text;
            }
          }
        }

        &__access {
          font-size: 12px;
          padding: 4px 0;
          color: $ltgray-text;

          span.note {
            font-weight: 600;
            color: $black;

            &--active {
              background-color: $note-active;
              color: $white;
            }

            &--disable {
              color: $disable-text;
            }
          }
        }

        &__card-pic {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 25%;
          height: 80%;
          background: $white;
          border: solid $ltgray-line;
          border-width: 1px 0 0 1px;
          border-radius: 10px 0 0 0;

          &--active {
            width: 28%;
            background: $card-active;
          }

          .strip {
            position: absolute;
            top: 20px;
            width: 100%;
            height: 20px;
            background-color: $card-list-bg;

            &--active {
              background-color: $strip-acive;
            }
          }

          .card-pic__card-number {
            position: absolute;
            top: 50px;
            left: 10px;

            .master-card {
              display: inline-block;
              width: 30px;
              height: 15px;
              position: relative;

              .circle {
                position: absolute;
                top: 1px;
                bottom: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $white;

                &--second {
                  left: 10px;
                }
              }
            }
          }
        }
      }
    }

    .menu-bar {
      min-height: 100vh;
      padding-top: 30px;
      order: 1;
      width: 20%;
      max-width: 250px;
      background-color: $green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .desktop {
        margin-left: 15px;
      }

      .icon-menu {
        display: flex;
        flex-direction: row;
        width: 140px;
        margin: 10px 0;
        padding: 10px 20px;

        &__active {
          background-color: $ltgreen;
          .desktop {
            color: $card-active-bg;
          }
        }
      }

      .icon-menu:hover {
        background-color: $ltgreen;
      }

      &__menu-up {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
          padding: 15px 0;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      &__menu-down {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu {
          padding-bottom: 10px;
          border-bottom: 1px solid $ltgray-line;

          .desktop {
            color: $gray-text;
          }
        }

        .profile {
          padding: 30px 0;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            border-radius: 50%;
          }

          &__description {
            width: 100px;
            height: 100%;
            color: $white;
            margin-left: 10px;

            .name {
              font-size: 13px;
              line-height: 25px;
            }

            .e-mail {
              font-size: 10px;
              color: $ltgray-text;
              line-height: 25px;
            }
          }
        }
      }
    }

    .software-subscriptions {
      padding: 30px 10px;
      margin: 0 auto;
      // padding-top: 30px;
      width: 50%;
    }

    .header {
      &__icon {
        * {
          margin: 0 10px;
        }
      }

      &__menu {
        display: none;
        width: 40px;
      }

      &__title {
        width: auto;
      }

      &__square {
        width: 40px;
        height: 34px;
        background-color: $ltgreen;
        position: relative;
        .sm-square {
          width: 15px;
          height: 12px;
          background-color: $green;
          z-index: 1;
          position: absolute;
          top: 17px;
          left: 20px;
          transform: translate(-50%, -50%);
        }
      }

      &__title {
        font-size: 24px;
      }

      &__options {
        padding: 5px 10px;
      }
    }

    .section {
      &--flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &__double-columns {
        .software {
          width: 20%;
        }
      }
    }

    span.manage {
      display: inline-block;
      font-size: 15px;
      margin-right: 10px;
    }

    .card-info {
      margin-top: 30px;
      &:nth-of-type(1) {
        width: 40%;
        margin-right: 3%;
      }
      &:nth-of-type(2) {
        width: 20%;
        margin-right: 3%;
      }
      &:nth-of-type(3) {
        width: 15%;
        // margin-right: 3%;
      }
      &:nth-of-type(4) {
        width: 15%;
        padding-left: 3%;
      }

      &--border-right {
        border-right: 1px solid $ltgray-line;
      }

      &--border-left {
        border-left: 1px solid $ltgray-line;
      }
    }

    .transaction-container {
      .transaction-limit {
        width: 60%;
      }

      .estimated-amount {
        width: 30%;
        position: relative;
        overflow: hidden;

        .estimated-tablet {
          flex-direction: column;
          position: relative;
          z-index: 2;

          * {
            text-align: left;
            width: 80%;
          }
        }

        .arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 100px;
          background-color: $arrow-circle;
          border-radius: 50%;
          position: absolute;
          bottom: -35px;
          right: -35px;
          z-index: 1;
        }
      }
    }
  }
}
