$black: #000000;
$ltgray-text: #868686;
$ltgray-line: #99999970;
$green: #13523a;
$bg-ltgreen: #008d4220;

html {
  font-family: "Open Sans", sans-serif;

  * {
    margin: 0;
    padding: 0;
  }
}

.software-subscriptions {
  margin: 10px;
}

.green-font {
  color: $green;
}

span.note {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  background-color: $bg-ltgreen;
  margin: 0 10px;
  font-weight: normal;
}

.header {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__menu {
    transform: translate(-2px, 3px);
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
  }

  &__options {
    width: 35px;
    height: 25px;
    line-height: 15px;
    text-align: center;
    border: 1px solid $black;
  }
}

.section {
  padding: 15px 0;
  border-bottom: 1px solid gray;

  &__subtitle {
    font-size: 0.8em;
    color: $ltgray-text;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
  }

  &__double-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__element {
      display: flex;
      width: 50%;
      align-items: center;

      * {
        padding: 5px;
      }
    }
  }

  &--text-left {
    text-align: left;
  }

  &--text-right {
    text-align: right;
  }

  &--flex-right {
    justify-content: flex-end;
  }
}

.card-info {
  font-size: 16px;

  &__content {
    padding-bottom: 15px;

    &__icon {
      padding: 0 5px;
      transform: translate(-2px, 3px);
    }
  }
}

.spending-limits {
  progress {
    margin: 10px 0;
    height: 10px;
    width: 100%;
    border-radius: 0;
  }

  progress::-webkit-progress-value {
    background: $green;
  }

  progress::-webkit-progress-bar {
    background: $ltgray-line;
  }

  .estimated-amount {
    padding: 15px;
    margin: 15px 0;
    background: $bg-ltgreen;
  }
}

.issued-access {
  img {
    border-radius: 50%;
  }
}
